# Игнорируются  файлы, находящиеся в подкаталоге tmp

tmp/

# Игнорируются  файлы, заканчивающиеся суффиксами _old, _backup

*_old
*_backup

# Игнорируются  файлы Thumbs.db 

Thumbs.db

# Игнорируются  файлы .DS_Store

.DS_Store